@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  --font-poppins: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: auto !important;
  overflow-y: auto !important;
}

body {
  min-height: 100vh;
  background-color: #000;
  color: rgb(var(--foreground-rgb));
  font-family: var(--font-poppins);
  overflow-y: auto !important;
  position: relative;
}

/* Reverting to standard pointer cursor for buttons and links as clarified */
a,
button,
[role="button"],
input[type="submit"],
input[type="button"],
.cursor-pointer {
  cursor: pointer !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}